/* Icons */

@iconSize: 16px;

.mce-ico {
	line-height: 16px;
	vertical-align: text-top;
	
	display: inline-block;
	width: @iconSize;
	height: @iconSize;
	color: @btn-text;
    background-image: url(img/sprites16px.png);
	background-repeat: no-repeat;
}

.mce-btn-small .mce-ico {
	background-image: url(img/sprites14px.png);
}

.mce-i-save           { background-position: -128px -96px; }
.mce-i-newdocument    { background-position: -96px -96px; }
.mce-i-fullpage      { background-position: -64px -96px; }
.mce-i-alignleft      { background-position: -32px -96px; }
.mce-i-aligncenter   { background-position: -0px -96px; }
.mce-i-alignright     { background-position: -480px -64px; }
.mce-i-alignjustify   { background-position: -448px -64px; }
.mce-i-cut           { background-position: -416px -64px;}
.mce-i-paste          { background-position: -384px -64px; }
.mce-i-searchreplace  { background-position: -352px -64px;  }
.mce-i-bullist        {background-position: -320px -64px; }
.mce-i-numlist        { background-position: -288px -64px; }
.mce-i-indent         { background-position: -256px -64px; }
.mce-i-outdent        { background-position: -224px -64px; }
.mce-i-blockquote     {background-position: -192px -64px; }
.mce-i-undo           { background-position: -160px -64px; }
.mce-i-redo           { background-position: -128px -64px; }
.mce-i-link           { background-position: -96px -64px; }
.mce-i-unlink         { background-position: -64px -64px; }
.mce-i-anchor         { background-position: -32px -64px;  }
.mce-i-image          { background-position: -0px -64px; }
.mce-i-media          { background-position: -480px -32px; }
.mce-i-help           { background-position: -448px -32px;  }
.mce-i-code           { background-position: -416px -32px; }
.mce-i-inserttime     { background-position: -384px -32px; }
.mce-i-preview        { background-position: -352px -32px; }
.mce-i-forecolor      { background-position: -320px -32px; }
.mce-i-backcolor      { background-position: -320px -32px; }
.mce-i-table          { background-position: -288px -32px; }
.mce-i-hr             { background-position: -256px -32px; }
.mce-i-removeformat   { background-position: -224px -32px; }
.mce-i-subscript      { background-position: -192px -32px; }
.mce-i-superscript    { background-position: -160px -32px; }
.mce-i-charmap        { background-position: -128px -32px; }
.mce-i-emoticons      { background-position: -96px -32px; }
.mce-i-print          { background-position: -64px -32px; }
.mce-i-fullscreen     { background-position: -32px -32px;}
.mce-i-spellchecker   { background-position: 0px -32px; }
.mce-i-nonbreaking    { background-position: -480px 0px; }
.mce-i-template      { background-position: -448px 0px; }
.mce-i-pagebreak      { background-position: -416px 0px; }
.mce-i-restoredraft   { background-position: -384px 0px; }
.mce-i-untitled       { background-position: -352px 0px; }
.mce-i-bold         {background-position: -320px 0px; }
.mce-i-italic         { background-position: -288px 0px;}
.mce-i-underline      { background-position: -256px 0px; }
.mce-i-strikethrough  { background-position: -224px 0px;}
.mce-i-visualchars   { background-position: -192px 0px; }
.mce-i-visualblocks  { background-position: -192px 0px; }
.mce-i-ltr           {  background-position: -160px 0px;  }
.mce-i-rtl            {  background-position: -128px -0px;  }
.mce-i-copy           { background-position: -96px 0px; }
.mce-i-resize         {  background-position: -64px 0px;  }
.mce-i-browse         { background-position: -32px 0px; }
.mce-i-pastetext      { background-position: -192px -96px; }

.mce-i-checkbox, .mce-i-selected {
	 background-position: -160px -96px; 
}

.mce-i-selected              { visibility: hidden; }
i.mce-i-backcolor            { text-shadow: none; background-color: @colorbtn-backcolor-bg; }
